body{
    background-color: #495354;
    display: flex;
    justify-content: center;
}
.switch {
    margin-top: 400px;
    --secondary-container: #3a4b39;
    --primary: #84da89;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
   }
   
   .switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #616161;
    transition: .2s;
    border-radius: 30px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    border-radius: 20px;
    left: 0.2em;
    bottom: 0.2em;
    background-color: #e9e9eb;
    transition: .4s;
   }
   

   
   
   input:checked + .slider {
    background-color: #34C759;
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px #34C759;
   }
   
   input:checked + .slider:before {
    transform: translateX(20px);
   }